.client {
  padding-bottom: 140px;

  &-list {
    display: flex;
  }

  &-item {
    flex: 1;
    padding: 45px 25px;
    border: 1px solid #eee;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;

    &:hover {
      border-color: transparent;
      box-shadow: 0 0 50px 10px rgba(black, 0.05);
    }

    &:not(:first-child) {
      margin-left: 30px;
    }

    &-header {
      padding-bottom: 25px;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      &--img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        object-fit: cover;
        margin: 0 auto 25px;
      }

      &--name {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &--position {
        font-weight: 300;
        color: $gray;
        display: block;
      }
    }

    &-content {
      color: $gray;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 30px;
    }

    &-rate {
      color: $yellow-star;
    }
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
    &-list {
      display: grid;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      grid-gap: 0 30px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }

    &-item {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
